html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

a img {
    border: none;
}

html {
    background: #eeeeee;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background: #eeeeee;
    color: #333333;
}

#todoapp {
    width: 780px;
    margin: 0 auto 40px;
    background: white;
    padding: 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

#todoapp h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 30px 0;
    line-height: 1;
}

#create-todo {
    position: relative;
}

#create-todo input {
    width: 666px;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 1px solid #999999;
    outline: none;
    padding: 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#create-todo input::-webkit-input-placeholder {
    font-style: italic;
}

#create-todo span {
    position: absolute;
    z-index: 999;
    width: 170px;
    left: 50%;
    margin-left: -85px;
}

#todo-list {
    margin-top: 10px;
    margin-bottom: 20px;
}

#todo-list li {
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 24px;
    line-height: 1.1em;
    border-bottom: 1px solid #cccccc;
}

#todo-list li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

#todo-list li.editing {
    padding: 0;
    border-bottom: 0;
}

#todo-list .editing .display,
#todo-list .edit {
    display: none;
}

#todo-list .editing .edit {
    display: block;
}

#todo-list .editing input {
    width: 444px;
    font-size: 24px;
    font-family: inherit;
    margin: 0;
    line-height: 1.6em;
    border: 1px solid #999999;
    outline: none;
    padding: 10px 7px 0 27px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#todo-list .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
}

#todo-list .done .todo-text {
    text-decoration: line-through;
    color: #777777;
}


#todo-stats {
    *zoom: 1;
    margin-top: 10px;
    color: #777777;
}

#todo-stats:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

#todo-stats .todo-count {
    float: left;
}

#todo-stats .todo-count .number {
    font-weight: bold;
    color: #333333;
}

#todo-stats .todo-clear {
    float: right;
}

#todo-stats .todo-clear a {
    color: #777777;
    font-size: 12px;
}

#todo-stats .todo-clear a:visited {
    color: #777777;
}

#todo-stats .todo-clear a:hover {
    color: #336699;
}

#instructions {
    width: 520px;
    margin: 10px auto;
    color: #777777;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    text-align: center;
}

#instructions a {
    color: #336699;
}

#credits {
    width: 520px;
    margin: 30px auto;
    color: #999;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    text-align: center;
}

#credits a {
    color: #888;
}

/* wait-list */
#wait-list {
    margin-top: 40px;
    margin-bottom: 20px;
}

#wait-list li {
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 16px;
    color: #808080;
    line-height: 1.1em;
    border-bottom: 1px solid #cccccc;
}

#wait-list li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

#wait-list li.editing {
    padding: 0;
    border-bottom: 0;
}

#wait-list .editing .display,
#wait-list .edit {
    display: none;
}

#wait-list .editing .edit {
    display: block;
}

#wait-list .editing input {
    width: 444px;
    font-size: 24px;
    font-family: inherit;
    margin: 0;
    line-height: 1.6em;
    border: 1px solid #999999;
    outline: none;
    padding: 10px 7px 0 27px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#wait-list .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
}

#wait-list .done .todo-text {
    text-decoration: line-through;
    color: #777777;
}


.todo-schedule {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
    width: 80px;
    height: 20px;
    font-size: 14px;
}

.todo-schedule ul {
    display: none;
}

.todo-schedule:hover ul {
    position: absolute;
    top: 20px;
    margin: 0;
    display: block;
    z-index: 99;
    background-color: #f5f5dc;
    width: 160px;
    padding: 0 10px;
}

.todo-action {
    /*position: absolute;*/
    /*right: 15px;*/
    /*top: 14px;*/
    font-size: 14px;
    color: #808080;
    cursor: pointer;
    height: 20px;
    display: none;
    padding: 0;
    margin: 0 20px;
    border: 0;
}

.todo-action li {
    font-size: 14px!important;
    border:0!important;
    float: left;
}

li:hover .todo-action {
    display: block;
}

.todo-action ul {
    display: none;
}

.todo-action .defer:hover ul {
    position: absolute;
    /*top: 20px;*/
    margin: 0;
    display: block;
    z-index: 99;
    background-color: #f5f5dc;
    width: 160px;
    padding: 0 10px;
}

.schedule-picker {
    height:0;
    width: 1px;
    padding:0;
    marging:0;
    border:0;
    /*visibility: hidden;*/
}